/.phpunit.cache
/currency-exchange-backend/node_modules
/currency-exchange-backend/public/build
/public/hot
/currency-exchange-backend/public/storage
/currency-exchange-backend/storage/*.key
/currency-exchange-backend/storage/pail
/currency-exchange-backend/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
